<% content_for :title, "Editing fishing log" %>

<h1>Editing fishing log</h1>

<%= render "form", fishing_log: @fishing_log %>

<br>

<div class="d-flex justify-content-between">
  <div>
    <%= link_to "Back to fishing logs", fishing_logs_path, class: "btn btn-secondary" %>
  </div>
</div>

