<% content_for :title, "Editing fishing log" %>

<h1>Editing fishing log</h1>

<%= render "form", fishing_log: @fishing_log %>

<br>

<div>
  <%= link_to "Show this fishing log", @fishing_log %> |
  <%= link_to "Back to fishing logs", fishing_logs_path %>
</div>
