<div id="<%= dom_id favorite %>" class="card shadow-sm mb-3">
  <div class="card-body">
    <h5 class="text-center">
      <%= favorite.lake.name %>
    </h5>
    <p class="card-text">
      <strong>Notes:</strong> <%= favorite.notes %>
    </p>
  </div>
</div>

