<div id="<%= dom_id favorite %>">

  <p>
    <strong>Lake Id:</strong>
    <%= favorite.lake_id %>
  </p>

  <p>
  <strong>Lake Name:</strong>
  <%= favorite.lake.name %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= favorite.notes %>
  </p>

</div>
