<div id="<%= dom_id favorite %>">
  <p>
    <strong>User:</strong>
    <%= favorite.user_id %>
  </p>

  <p>
    <strong>Lake:</strong>
    <%= favorite.lake_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= favorite.notes %>
  </p>

</div>
