<% content_for :title, "Editing favorite" %>

<h1 class="text-center">Editing favorite</h1>

<%= render "form", favorite: @favorite %>



<%= link_to "Back to favorites", favorites_path, class: "btn btn-secondary" %>


