<% content_for :title, "New favorite" %>

<h1 class="text-center">New favorite</h1>


<%= render "form", favorite: @favorite %>

<br>

<%= link_to "Back to favorites", favorites_path, class: "btn btn-secondary" %>
