<div id="<%= dom_id comment %>">
  <p>
    <strong>User:</strong>
    <%= comment.user_id_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>Lake:</strong>
    <%= comment.lake_id_id %>
  </p>

</div>
