<div id="<%= dom_id lake %>" class="card mb-4 shadow p-3">
  <div class="card-body">
    <p>
      <strong>Name:</strong>
      <%= lake.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= lake.description %>
    </p>
  </div>
</div>

