<div id="<%= dom_id lake %>">
  
<p>
    <strong>Lake Id:</strong>
    <%= lake.id %>
  </p>

<p>
    <strong>Name:</strong>
    <%= lake.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lake.description %>
  </p>

</div>
