<% content_for :title, "Editing lake" %>

<h1>Editing lake</h1>

<%= render "form", lake: @lake %>

<br>

<div>
  <%= link_to "Show this lake", @lake %> |
  <%= link_to "Back to lakes", lakes_path %>
</div>
