<% content_for :title, "Editing lake" %>

<h1 class="mb-4">Editing Lake</h1>

<%= render "form", lake: @lake, class: "mb-4" %>

<hr>

<div>
  <%= link_to "Back to lakes", lakes_path, class: "btn btn-secondary" %>
</div>

