<% content_for :javascript do %>
  <script type="module">
    import "map";
  </script>
<% end %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Lakes" %>

<div class="jumbotron border-bottom">
  <div class="text-center">
    <div class="display-1">
      <div style="background-color: black;">
        <h1>Fishing Spot Finder</h1>
      </div>
    </div>
  </div>
</div>

<div class="custom-bg"
  <p class="text-center p-3 ">(Search for lakes nearby by using the search bar. The map will be populated with markers on nearby lakes after pressing search. Click on the marker to go to the lake page or create one if it does not have one.)</p>
</div>

<div id="lake-nearby">
      <input id="user-input" type="text" placeholder="(City, State)" />
      <input id="submit" type="button" value="Search for lakes nearby" />
</div>

<div id="map"></div>

<hr>

<div style="background-color: black;">
  <h1 id="lakes-header">Lakes</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <% @lakes.each do |lake| %>
      <div class="col-md-4 mb-4">
        <div class="card mb-4 shadow">
          <%= render lake %>
          <p>
            <%= link_to "Show this lake", lake, class: "btn btn-secondary m-3" %>
          </p>
        </div>
      </div>
      <% end %>
  </div>
  
  <%= will_paginate @lakes, class: 'pagination pagination-sm' %>


</div>





