<% content_for :javascript do %>
  <script type="module">
    import "map";
  </script>
<% end %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Lakes" %>

<div class="jumbotron">
  <div class="container">
    <div class="display-1">
      <h1>Fishing Spot Finder</h1>
    </div>
  </div>
</div>

<div id="lake-nearby">
      <input id="user-input" type="text" placeholder="(City, State)" />
      <input id="submit" type="button" value="Search for lakes nearby" />
    </div>
<div id="map"></div>

<h1 id="lakes-header">Lakes</h1>

<div class="container-fluid">
  <div class="row">
    <% @lakes.each do |lake| %>
      <div class="col-md-4 mb-4">
        <div class="card mb-4 shadow">
          <%= render lake %>
          <p>
            <%= link_to "Show this lake", lake %>
          </p>
        </div>
      </div>
      <% end %>
  </div>
</div>



<%= button_to "Create New Lake Page", new_lake_path, method: :get, class: "btn btn-secondary btn-lg" %>



