#map {
    height: 60%;
    width: 100%;
    margin-top: 20px;
}
  
html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    overflow-y: auto;
}


.sidebar {
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}


#lakes-header {
    text-align: center;
}

.custom-bg {
    background-color: yellow;
}